# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Your code here
import pandas as pd
import numpy as np

In [2]:
user_content = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [4]:
# Identify the dimensions of the dataset by determining the number of rows and columns it contains. 
user_content.shape

(4008, 11)

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [5]:
# Identify the dimensions of the dataset by determining the number of rows and columns it contains.
user_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [71]:
df = user_content.copy()

In [67]:
df["Number of Open Complaints"].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [72]:
# asignar las modificationes xx =
#df["Number of Open Complaints"] = df["Number of Open Complaints"].str.replace('/00','') 
# la siguiente linea se puede juntar con la de arriba pero se debe decidir cual conservar
#df["Number of Open Complaints"] = df["Number of Open Complaints"].str.replace('/','')

# la siguiente linea se puede juntar con la de arriba pero se debe decidir cual conservar
df["Number of Open Complaints"] = df["Number of Open Complaints"].str.replace('/00','').str.replace('/','')
 
#df["Number of Open Complaints"]
df["Number of Open Complaints"] = df["Number of Open Complaints"].astype(float)

#importante no ejecutar de nuevo, porque ya el cambio de object a float se ha hecho, por esta razon sale error. 
# #Para borrar el error, ejecutar desde el comienzo.

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   float64
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

In [73]:
df["Customer Lifetime Value"] = df["Customer Lifetime Value"].str.replace('%','')

In [74]:
df["Customer Lifetime Value"] = df["Customer Lifetime Value"].astype(float)

In [75]:
df["Customer Lifetime Value"].unique()

array([       nan,  697953.59, 1288743.17, ..., 2031499.76,  323912.47,
        899704.02])

In [76]:
# df_redondeado = df.copy()
# df_redondeado['Valores'] = df_redondeado['Valores'].round(2)

df["Total Claim Amount"] = df["Total Claim Amount"].round(2)

In [101]:
df.head(10)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,10.0,Personal Auto,Four-Door Car,2.70
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,10.0,Personal Auto,Four-Door Car,1131.46
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,10.0,Personal Auto,Two-Door Car,566.47
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,10.0,Corporate Auto,SUV,529.88
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,10.0,Personal Auto,Four-Door Car,17.27
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,10.0,Personal Auto,Two-Door Car,159.38
6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,10.0,Corporate Auto,Four-Door Car,321.60
7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,10.0,Corporate Auto,Four-Door Car,363.03
8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,10.0,Corporate Auto,Four-Door Car,511.20
9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,10.0,Special Auto,Four-Door Car,425.53

In [78]:
# Identify the number of unique values for each column and determine which columns appear to be categorical. 
#You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

unique_values_count = df.nunique()
print("\nNombre de valeurs uniques pour chaque colonne")
print(unique_values_count)

Nombre de valeurs uniques pour chaque colonne
Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            753
dtype: int64

In [80]:
# # determine which columns appear to be categorical.

categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
print("\nCategorical columns:")
print(categorical_columns)

Categorical columns:
['Customer', 'ST', 'GENDER', 'Education', 'Policy Type', 'Vehicle Class']

In [82]:
# # Determine the unique values of each categorical column

for col in categorical_columns:
    print("\nUnique value on each colume '{}':".format(col))
    print(df[col].unique())

Unique value on each colume 'Customer':
['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]

Unique value on each colume 'ST':
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

Unique value on each colume 'GENDER':
[nan 'F' 'M' 'Femal' 'Male' 'female']

Unique value on each colume 'Education':
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

Unique value on each colume 'Policy Type':
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

Unique value on each colume 'Vehicle Class':
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [83]:
# determin the range of values for each numerical columns

#[expression for item in iterable if condition].
numerical_columns = [col for col in df.columns if df[col].dtype != 'object']
for col in numerical_columns:
    print("\nRange of values numerical columns'{}':".format(col))
    print("Min:", df[col].min(), "Max:", df[col].max())

Range of values numerical columns'Customer Lifetime Value':
Min: 200435.07 Max: 5816655.35

Range of values numerical columns'Income':
Min: 0.0 Max: 99960.0

Range of values numerical columns'Monthly Premium Auto':
Min: 61.0 Max: 35354.0

Range of values numerical columns'Number of Open Complaints':
Min: 10.0 Max: 15.0

Range of values numerical columns'Total Claim Amount':
Min: 0.38 Max: 2893.24

In [84]:
# Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. 
#You should also provide your conclusions based on these summary statistics.

summary_stats = df.describe()
print("\nSummary statistics:")
print(summary_stats)

Summary statistics:
       Customer Lifetime Value        Income  Monthly Premium Auto  \
count             1.068000e+03   1071.000000           1071.000000
mean              7.936903e+05  39295.701214            193.234360
std               6.434784e+05  30469.427060           1601.190369
min               2.004351e+05      0.000000             61.000000
25%               4.034080e+05  14072.000000             68.000000
50%               5.881742e+05  36234.000000             83.000000
75%               8.962872e+05  64631.000000            109.500000
max               5.816655e+06  99960.000000          35354.000000

       Number of Open Complaints  Total Claim Amount
count                1071.000000         1071.000000
mean                   10.394024          404.986928
std                     0.883769          293.027079
min                    10.000000            0.380000
25%                    10.000000          202.160000
50%                    10.000000          354.730000
75%                    10.000000          532.800000
max                    15.000000         2893.240000

In [85]:
for col in numerical_columns:
    median = df[col].median()
    mode = df[col].mode()[0]  # mode could have differents values, take the first one.
    quartiles = df[col].quantile([0.25, 0.5, 0.75])
    print("\nStatistics '{}':".format(col))
    print(f"Median: {median}, Mode: {mode}")
    print("Quartiles:")
    print(quartiles)

Statistics 'Customer Lifetime Value':
Median: 588174.235, Mode: 251459.2
Quartiles:
0.25    403407.9950
0.50    588174.2350
0.75    896287.1975
Name: Customer Lifetime Value, dtype: float64

Statistics 'Income':
Median: 36234.0, Mode: 0.0
Quartiles:
0.25    14072.0
0.50    36234.0
0.75    64631.0
Name: Income, dtype: float64

Statistics 'Monthly Premium Auto':
Median: 83.0, Mode: 65.0
Quartiles:
0.25     68.0
0.50     83.0
0.75    109.5
Name: Monthly Premium Auto, dtype: float64

Statistics 'Number of Open Complaints':
Median: 10.0, Mode: 10.0
Quartiles:
0.25    10.0
0.50    10.0
0.75    10.0
Name: Number of Open Complaints, dtype: float64

Statistics 'Total Claim Amount':
Median: 354.73, Mode: 321.6
Quartiles:
0.25    202.16
0.50    354.73
0.75    532.80
Name: Total Claim Amount, dtype: float64

In [ ]:
# sommes errors on data type, object i/o float for exemple.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [92]:
# Your code here
# Créer une Series contenant les localisations et leurs fréquences
location_counts = df['ST'].value_counts()

print("\nCustomer locations:")
print(location_counts)

Customer locations:
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [93]:
# retrieve the top 5 less common locations in ascending order.
top_5_less_common_locations = location_counts.nsmallest(5).sort_values(ascending=True)

print("\nTop 5 less commom locations:")
print(top_5_less_common_locations)

Top 5 less commom locations:
ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [96]:
# Your code here
policy_counts = df['Policy Type'].value_counts()

print("\nTotal policy sold for each policy type:")
print(policy_counts)

Total policy sold for each policy type:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [97]:
most_sold_policy = policy_counts.idxmax()

print("\nPolicy sold:")
print(most_sold_policy)

Policy sold:
Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [98]:
# Your code here

# loc pour filtrer les polices Personal Auto
personal_auto = df.loc[df['Policy Type'] == 'Personal Auto']

# loc pour filtrer les polices Corporate Auto
corporate_auto = df.loc[df['Policy Type'] == 'Corporate Auto']

average_income_personal = personal_auto['Income'].mean()
average_income_corporate = corporate_auto['Income'].mean()

print("\nAverage income personal Auto:")
print(average_income_personal)

print("\nAverage income corporate Auto:")
print(average_income_corporate)

Average income personal Auto:
38180.69871794872

Average income corporate Auto:
41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here